@model IEnumerable<string>
@{
    ViewData["Title"] = "Тест связи с WebAPI";
}

<h3>ViewData["Title"]</h3>

<h5>Values:</h5>

<ul>
    @foreach (var value in Model)
    {
        <li>@value</li>
    }
</ul> 