<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <title>@ViewBag.Title | E-Shopper | Admin</title>
    <partial name="Partial/_Styles" />
    @RenderSection("Styles", false)
</head>
<body>
    <partial name="Partial/_Header" />
    @RenderBody()
    <partial name="Partial/_Footer" />
    <partial name="Partial/_Scripts" />
    @RenderSection("Scripts", false)
</body>
</html>