<section class="sec-logo">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <img src="~/Admin/img/logo-vrinda.png" alt="Free Best Admin Made Of Bootstrap" />
            </div>
            <div class="col-md-7">
            </div>
            <div class="col-md-3 quick-info">
                Support :<i> info@yourdomain.com</i> <br />
                Call : <i>+01-345-908-55-89</i>
            </div>
        </div>
    </div>
</section>
<partial name="Partial/_Menu" />
