@model RegisterUserViewModel

@{
    Layout = "_LayoutBase";
    ViewData["Title"] = "Регистрация нового пользователя";
}

<section id="form">
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <partial name="Partial/_Register" model="@Model" />
            </div>
        </div>
    </div>
</section><!--/form-->
