
<section class="sec-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span class="menu-open-icon"><i class="fa fa-bars pull-left fa-2x b-clr"></i></span>
                <i class="pull-right"> Wecome To The Admin Module </i>
            </div>
        </div>
    </div>
</section>
<div id="side-menu">

    <ul>
        <li style="border-bottom:0px;">
            <a title="close" href="#"><i class="fa fa-close fa-2x menu-close-icon b-clr"></i></a>
        </li>
        <li>
            <a title="Dashboard" asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="fa fa-home fa-2x"></i></a>
        </li>
        <li>
            <a title="UI Elements" href="ui.html"><i class="fa fa-plug fa-2x"></i></a>
        </li>
        <li>
            <a title="Forms" href="forms.html"><i class="fa fa-rocket fa-2x"></i></a>
        </li>
        <li>
            <a title="Blank Page" href="blank.html"><i class="fa fa-volume-off fa-2x"></i></a>
        </li>

    </ul>

</div>
